{% extends '::base.html.twig' %}
{% block title %}
    Thypnetwork - le réseau social du Master 2 thyp de Paris 8
{% endblock title %}
{% block body %}
    User, Hello world
    <a href="{{ path('logout') }}"><h3>bye</h3></a>
{% endblock body %}