{% extends '::base_index.html.twig' %}
{% block title %}
    Thypnetwork - le réseau social du Master 2 thyp de Paris 8
{% endblock title %}
{% block username %}
    {{ user.username|capitalize }}
{% endblock username %}
{% block posts %}
   most
{% endblock posts %}


{% block lastregistered %}
    <div class="col-md-2 hidden-xs hidden-sm" style="padding:0px;margin:68px 0px;">
        <h4>Derniers inscrits</h4>
    </div>
{% endblock lastregistered %}
